.sidebar {
  background-color: var(--dark-blue-gray) !important;
  height: 100%;
}
.logo {
  margin: 0 auto;
}
.logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.list-item {
  color: var(--white);
  font-size: 8px !important;
}
.sidebar-icon {
  color: var(--light-gray);
  opacity: 0.5;
}
.list-link {
  text-decoration: none;
}
.list-item:hover {
  background-color: var(--close-black);
}
.list-item.selected {
  background-color: var(--close-black);
}

/* .sidebar {
  height: 100%;
  background-color: var(--sidebar-bg-color);
  color: var(--sidebar-text-color);
}

.list-link {
  text-decoration: none;
  color: inherit;
}

.list-item.selected {
  background-color: var(--sidebar-selected-bg-color);
  color: var(--sidebar-selected-text-color);
}

.list-item-text {
  color: inherit;
}

.sidebar-icon {
  color: inherit;
} */

/* Define CSS variables for light and dark mode */
/* :root {
  --sidebar-bg-color: #f5f5f5;
  --sidebar-text-color: #000000;
  --sidebar-selected-bg-color: #e0e0e0;
  --sidebar-selected-text-color: #000000;
}

[data-theme="dark"] {
  --sidebar-bg-color: #1d1d1d;
  --sidebar-text-color: #ffffff;
  --sidebar-selected-bg-color: #333333;
  --sidebar-selected-text-color: #ffffff;
} */

